In [1]:
# import relevant packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
cols = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital-status', 
        'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
        'hours-per-week', 'native-country', 'income_class']
data_loc = '../data/raw/adult/adult.data'
df = pd.read_csv(data_loc, header=None, names=cols)

In [6]:
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country income_class
0   39          State-gov   77516  ...             40   United-States        <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States        <=50K
2   38            Private  215646  ...             40   United-States        <=50K
3   53            Private  234721  ...             40   United-States        <=50K
4   28            Private  338409  ...             40            Cuba        <=50K

[5 rows x 15 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income_class    32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
# check for any weird values in the categorical columns
for col in df.columns:
    if df[col].dtype == 'object' :
        print(f"\n{col} unique value:")
        print(df[col].value_counts(dropna=False).head(10))

workclass unique value:
workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

education unique value:
education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
Name: count, dtype: int64

marital-status unique value:
marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

occupation unique value:
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Name: count, dtype: int64

relationship unique value:
relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64

race unique value:
race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

sex unique value:
sex
Male      21790
Female    10771
Name: count, dtype: int64

native-country unique value:
native-country
United-States    29170
Mexico             643
?                  583
Philippines        198
Germany            137
Canada             121
Puerto-Rico        114
El-Salvador        106
India              100
Cuba                95
Name: count, dtype: int64

income_class unique value:
income_class
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [9]:
# check for any weird values in the numerical columns
df.describe(include='all')

                 age workclass  ...  native-country income_class
count   32561.000000     32561  ...           32561        32561
unique           NaN         9  ...              42            2
top              NaN   Private  ...   United-States        <=50K
freq             NaN     22696  ...           29170        24720
mean       38.581647       NaN  ...             NaN          NaN
std        13.640433       NaN  ...             NaN          NaN
min        17.000000       NaN  ...             NaN          NaN
25%        28.000000       NaN  ...             NaN          NaN
50%        37.000000       NaN  ...             NaN          NaN
75%        48.000000       NaN  ...             NaN          NaN
max        90.000000       NaN  ...             NaN          NaN

[11 rows x 15 columns]