In [1]:
# import relevant packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
cols = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital-status', 
        'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 
        'hours-per-week', 'native-country', 'income_class']
data_loc = '../data/raw/adult/adult.data'
df = pd.read_csv(data_loc, header=None, names=cols)

In [6]:
df.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country income_class
0   39          State-gov   77516  ...             40   United-States        <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States        <=50K
2   38            Private  215646  ...             40   United-States        <=50K
3   53            Private  234721  ...             40   United-States        <=50K
4   28            Private  338409  ...             40            Cuba        <=50K

[5 rows x 15 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  income_class    32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
# check for any weird values in the categorical columns
for col in df.columns:
    if df[col].dtype == 'object' :
        print(f"\n{col} unique value:")
        print(df[col].value_counts(dropna=False).head(10))